@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shoe Shop</h1>
    <p class="lead">A simple web application based on ASP.NET using Entity and MVC connected to a database and hosted on Azure.
    There are two tables, brands and types, to represent shoe brand and their respective models along with a description</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h3>View all Shoe Brands</h3>
        <p>
            View all our available shoe brands!!
        </p>
        <p><a class="btn btn-default" href="~/brands">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>View our shoe collection</h3>
        <p>View all our fantastic shoe collection!!</p>
        <p><a class="btn btn-default" href="~/types">View &raquo;</a></p>
    </div>
</div>